<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="container w-25 mt-5" style="background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/164/537/small/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg);">    
        <div class="w-100 mb-5" style="display: flex;justify-content: space-between;flex-direction: column;text-align: center;">
            <h3 class="bg-transparent text-bg-primary  ">Signin</h3>
            <h3 class="text-bg-secondary ">OR</h3>
            <button class="btn btn-success "><a style="text-decoration: none; color: white;" href="/">SignUp</a></button>
          </div> 
        <form method="post" action="/Signin" >
          <div class="mb-3">
            <label for="exampleInput" class="form-control text-bg-primary bg-transparent">Username</label>
            <input type="name" name="username" class="form-control bg-transparent text-bg-danger  " id="exampleInput" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-control text-bg-primary bg-transparent">Password</label>
            <input type="password" name="password" class="form-control form-control bg-transparent text-bg-danger" id="exampleInputPassword1"> 
          </div>
          <button type="submit" class="btn btn-success m-xl-2 ">Submit</button>
        </form>
                                
  </div>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>